{% extends 'base.html.twig' %}

{% block title %}Produits associés à {{ category.name }}{% endblock %}

{% block body %}
    <h1>Produits de la catégorie <em>{{ category.name }}</em></h1>
    {% include 'incs/product_list.html.twig' with { 'productList' : products } %}
{% endblock %}