{% extends "base.html.twig" %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>
                Prénom
            </th>
            <th>
                Nom
            </th>
            <th>
                Nom d'utilisateur
            </th>
            <th>
                Email
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_list %}
            <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}